doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Todo List
  
  link(rel="stylesheet", href="/styles/styles.css")
body
  #content-container
    h1 Todo List

    section.todo_list
      div
        li.item