extends ./layout

block title

block content 
  h1 CRUD To-Do List
  .new_todo.clearfix
    +newitem(todo)
  ul
    each todo in todos
      if todo.is_done === true
        li.todo.complete
          +listitem(todo, "checked")
      else 
        li.todo
          +listitem(todo)




