extends ./layout

block title

block content 
  h2 All To-Do's
  a(href="/new_todo")
    button New To-Do
  ul
    each todo in todos
      if todo.is_done === true
        li.todo.complete
          +listitem(todo, "checked")
      else 
        li.todo
          +listitem(todo)




