doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Todo List
  
  link(rel="stylesheet", href="/styles/styles.css")
body
  #content-container
    h1 New Todo Item

    section.new_todo_form
      form( action="/new_todo", method="POST")
        fieldset
          input( type="text", name="title", placeholder="Title")
          input( type="text", name="description", placeholder="Description")
          button Send

        