extends ./layout

block title

block content
  h2 New To-Do Item
  a(href="/")
    button Return to List
  section.new_todo_form
    form( action="/new_todo", method="POST")
      fieldset
        input( type="text", name="title", placeholder="Title")
        input( type="text", name="description", placeholder="Description")
        button Send

        