// COLORS

$ivory: #F1ECDF;
$beige: #D4C9AD;
$khaki: #C7BA99;
$black: #000000;
$dark: #00080F;
$orange: #F58723;
$lightGrey: #445555;
$darkGrey: #412B13;

// SETTINGS

$small-only: "only screen and (max-width : 670px)";
$medium-down: "only screen and (max-width : 960px)";
$medium-only: "only screen and (min-width : 671px) and (max-width : 960px)";
$medium-up: "only screen and (min-width : 641px)";
$large-up: "only screen and (min-width : 961px)";