@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,400,300,700);

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.container{
  background-color: pink;
}

div.taskItem{
  display: inline-block;
}
ul{
  display: inline;
  background-color: salmon;
}

li{
  background-color: salmon;
}

form{
  display: inline-block;
}

a{
  text-decoration: none;
}

li.complete a{
  text-decoration: line-through;
}